<div class="container">
  <div class="jumbtron">
    <h1 class="display-4 text-center">News Sources</h1>
    <hr />
    <div class="row">
      <ul class="heroes">
        <li style="list-style: none;" *ngFor="let article of data.sources">
          <div class="card">
            <div class="card-body">
              <p class="card-title" (click)="NewsOne(article)" [class.selected]="article === selectedArticle">
                {{article.name}} - {{article.id}}</p>

              <button class="btn btn-primary" (click)="NewsOne(article)"
                [class.selected]="article === selectedArticle">Select Article</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>