<div class="container mb-4" *ngIf="articledetail">
  <div class="row">
    <article class="card mt-2">
      <header class="card-header text-center">
        <div class="card-meta">
          <p><time class="timeago" datetime="articledetail.publishedAt" data-tid="1"></time>
            {{articledetail.publishedAt | date:"yyyy/MM/dd"}} by {{articledetail.author}}
          </p>
          <!-- <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p> -->
        </div>
        <h2 class="card-title text-dark">{{articledetail.title}}</h2>
      </header>
      <a [href]="articledetail.urlToImage">
        <img class="card-img" [src]="articledetail.urlToImage" />
      </a>
      <div class="card-body">
        <p><b>Content : </b>{{articledetail.content}}</p>
        <p class="md-1 text-muted">Source : {{articledetail.source.name}}</p>
        <p class="md-1"><b>Description : </b>{{articledetail.description}}</p>
        <hr>
        <div class="mt-5">
          <h5>Write a response</h5>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
            </div>
            <div class="col-md-6">
              <input type="email" class="form-control" id="email" name="email" placeholder="Your email">
            </div>
          </div>
          <textarea class="form-control mt-3" rows="3" placeholder="Write a response.."></textarea>
          <a href="#" class="btn btn-success mt-3">Publish</a>
        </div>
      </div>
    </article>
  </div>
</div>