<div class="container">
  <div class="jumbtron">
    <h1 class="display-4 text-center">Top 10 Tech News</h1>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <ul class="heroes">
          <li *ngFor="let article of data?.articles">
            <div class="card">
              <img class="card-img-top" [src]="article.urlToImage" alt="Card image cap" />
              <div class="card-body">
                <p class="card-title" (click)="NewsOne(article)" [class.selected]="article === selectedArticle">
                  {{article.title}}</p>

                <button class="btn btn-primary" (click)="NewsOne(article)"
                  [class.selected]="article === selectedArticle">Select Article</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <app-news-one [article]="selectedArticle"></app-news-one>
      </div>
      <div class="col-md-3">
        <div class="grid grid-pad">
          <a *ngFor="let article of category.slice(0,3)" class="col-1-4" routerLink="/newscategory/{{article.id}}">
            <div class="module hero">
              <h4>{{article.name}}</h4>
            </div>
          </a>
          <a class="col-1-4" routerLink="/newscategory">
            See More
          </a>
        </div>
        <div class="grid grid-pad">
          <a *ngFor="let article of country.slice(0,3)" class="col-1-4" routerLink="/newscounty/{{article.id}}">
            <div class="module hero">
              <h4>{{article.name}}</h4>
            </div>
          </a>
          <a class="col-1-4" routerLink="/newscounty">
            See More
          </a>
        </div>
        <div class="grid grid-pad">
          <a *ngFor="let article of sources?.sources.slice(0,3)" class="col-1-4" routerLink="/newssources/{{article.id}}">
            <div class="module hero">
              <h4>{{article.name}}</h4>
            </div>
          </a>
          <a class="col-1-4" routerLink="/newssourceslist">
            See More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>