<div class="container">
  <div class="jumbtron">
    <h1 class="display-4 text-center">Top 10 Tech News</h1>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <ul class="heroes">
          <li *ngFor="let article of data?.articles">
            <div class="card" (click)="NewsOne(article)" [class.selected]="article === selectedArticle">
              <img class="card-img-top" [src]="article.urlToImage"/>
              <div class="card-body">
                <p class="card-title">
                  {{article.title}}</p>
                <a class="card-link">Select Article</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <app-news-one [article]="selectedArticle"></app-news-one>
      </div>
      <div class="col-md-3">
        <ul class="list-group mb-3">
          <li *ngFor="let article of category.slice(0,3)" class="list-group-item d-flex justify-content-between lh-condensed">
            <a routerLink="/newscategory/{{article.id}}">
              <h4 class="my-0">{{article.name}}</h4>
              <small class="text-muted">{{article.id}}</small>
            </a>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <a class="col-1-4 float-right" routerLink="/newscategory">
              See more
            </a>
          </li>
        </ul>

        <ul class="list-group mb-3">
          <li *ngFor="let article of country.slice(0,3)" class="list-group-item d-flex justify-content-between lh-condensed">
            <a routerLink="/newscounty/{{article.id}}">
              <h4 class="my-0">{{article.name}}</h4>
              <small class="text-muted">{{article.id}}</small>
            </a>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <a class="col-1-4 float-right" routerLink="/newscounty">
              See more
            </a>
          </li>
        </ul>

        <ul class="list-group mb-3">
          <li *ngFor="let article of sources?.sources.slice(0,3)" class="list-group-item d-flex justify-content-between lh-condensed">
            <a routerLink="/newssources/{{article.id}}">
              <h4 class="my-0">{{article.name}}</h4>
              <small class="text-muted">{{article.id}}</small>
            </a>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <a class="col-1-4 float-right" routerLink="/newssources">
              See more
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>