<div class="container">
  <div class="jumbtron">
    <h1 class="display-4 text-center">Top 10 News</h1>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <ul class="heroes">
          <li *ngFor="let article of data.articles">
            <div class="card">
              <img class="card-img-top" [src]="article.urlToImage" alt="Card image cap" />
              <div class="card-body">
                <p class="card-title" (click)="NewsOne(article)" [class.selected]="article === selectedArticle">
                  {{article.title}}</p>

                <button class="btn btn-primary" (click)="NewsOne(article)"
                  [class.selected]="article === selectedArticle">Select Article</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <app-news-one [article]="selectedArticle"></app-news-one>
      </div>
    </div>
  </div>
</div>