.heroes {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
}
.heroes .text {
  position: relative;
  top: -3px;
} 
.heroes li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: 5px;
  padding: 5px 0;
  border-radius: 4px;
}
.heroes a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  /* width: 250px; */
}

.heroes a:hover {
  color:#607D8B;
}



/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 100%;
}

