<div class="container">
  <div class="jumbtron">
    <h1 class="display-4 text-center">Teacher Appointments</h1>
    <hr />
    <div class="row">
      <table class="table">
        <tbody>
          <tr *ngFor="let detail of data">
            <td>{{detail.owner}}</td>
            <td>{{detail.course}}</td>
            <td>{{detail.batchno}}</td>
            <td>{{detail.subjects}}</td>
            <td>Date Time : {{detail.date}} {{detail.time}}</td>
            <td>{{detail.reason}}</td>
            <td>{{detail.lecturer}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>