<div class="container">
  <div class="jumbtron">
    <div class="row">
      <h3>Top Categories</h3>
      <hr />
      <div class="row">
        <div class="grid grid-pad">
          <a *ngFor="let item of Categories" class="col-1-4" (click)="NewsOne(item)">
            <div class="module hero">
              <h4>{{item.name}}</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="heroes">
        <li style="list-style: none;" *ngFor="let article of data?.articles">
          <div class="card">
            <img class="card-img-top" [src]="article.urlToImage" alt="Card image cap" />
            <div class="card-body">
              <p class="card-title" (click)="NewsOne(article)" [class.selected]="article === selectedArticle">
                {{article.title}}</p>

              <button class="btn btn-primary" (click)="NewsOne(article)"
                [class.selected]="article === selectedArticle">Select Article</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>