<div class="container">
  <div class="jumbtron">
    <h1 class="display-4 text-center">Top Headlines by Categories</h1>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <h4>Top Categories</h4>
        <hr />
        <div class="list-group mb-3">
          <a *ngFor="let item of category" class="list-group-item d-flex justify-content-between lh-condensed" [class.selected]="article === selectedArticle" (click)="NewsList(item)">
              <h4 class="my-0">{{item.name}}</h4>
              <small class="text-muted">{{item.id}}</small>
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <app-news-list [article]="selectedArticle"></app-news-list>
      </div>
    </div>
  </div>
</div>






<!-- <ul class="heroes">
  <li *ngFor="let article of data?.articles">
    <div class="card">
      <img class="card-img-top" [src]="article.urlToImage" alt="Card image cap" />
      <div class="card-body">
        <p class="card-title" (click)="NewsOne(article)" [class.selected]="article === selectedArticle">
          {{article.title}}</p>

        <button class="btn btn-primary" (click)="NewsDetail(article)"
          [class.selected]="article === selectedArticle">Read Full Article</button>
      </div>
    </div>
  </li>
</ul> -->